{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block css %}
{% endblock css %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                {%include 'forms/menu.html.twig'%}
            </div>
        </div>
            
        <div class="jumbotron row mt-3">
            <div class="col-md-12">
                <h1 class="mt-3" id="typography">Recherche</h1>
                {{ form_start(form) }}
                
                <div class="form-group row justify-content-center">
                    <label class="col-md-2 col-form-label">Marque</label>
                    <div class="col-md-3">
                        {{ form_widget(form.marque) }}
                    </div>
                </div>
                                
                <div class="form-group row justify-content-center">
                    <label class="col-md-2 col-form-label">Region</label>
                    <div class="col-md-3">
                        {{ form_widget(form.region) }}
                    </div>
                </div>
                
                <div class="form-group row justify-content-center">
                    <div class="col-md-3">
                        {{form_row(form.rechercher)}}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-12">
                <h1 id="tables">Elèves</h1> 
                    <table id="niveaux" class="table table-hover">
                        
                        <thead>
                          <tr>
                            <th scope="col">Marque</th>
                            <th scope="col">Modele</th>
                            <th scope="col">Kilométrage</th>
                            <th scope="col">Année</th>
                            <th scope="col">Région</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          {% for voiture in voitures%}
                            <tr class="table-light">
                                <th scope="row"><p class="text-danger">{{voiture.modele.marque.marque}}</p></th>
                                <td>
                                    <p class=" text-danger">{{voiture.modele.modele}}</p>
                                </td>
                                <td>
                                    <p class="text-danger">{{voiture.km}} KM</p>
                                </td>
                                <td>
                                    <p class="text-danger">{{voiture.annee|date('A')}}</p>
                                </td>
                              <td>
                                  <p>{{voiture.region.region}}</p>
                              </td>
                              <td>
                                  {% if voiture in app.user.voitures%}
                                      <p><span class="badge badge-primary badge-pill">Favori</span><p>
                                          <a class="btn btn-danger btn-lg" href="{{path('supprimerVoiture',{id:voiture.id})}}">Retirer</a>
                                  {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() 
        {
            $('#voitures').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        }
    } );
        } );
    </script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
{% endblock js%}